:root
{
    --header_height     : 8vh;
    --nav_height        : 6vh;
    --main_width        : 95vw;
    --main_height       : 70vh;
    --card_set_gap      : 1rem;
    --cards_per_row     : 3;
}

/* *
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */

a
{
    text-decoration: none;
}

header
{
    height: var(--header_height);
}

nav
{
    height: var(--nav_height);
}

nav *
{
    height: 100%;
}

#menu_items
{
    column-gap: 2rem;
    list-style: none;
}

#menu_items a
{
    line-height: var(--nav_height);
    color: whitesmoke;
}

#menu_items a:hover
{
    color: greenyellow;
} 

main
{
    width: var(--main_width);
    height: var(--main_height);
}

aside
{
    font-size: 5rem;
    font-weight: 900;
}

aside:hover
{
    cursor: pointer;
    color: greenyellow;
}

#card_set
{
    width: calc(80%);
    height: 100%;
    gap: var(--card_set_gap);
    flex-wrap: wrap;
    overflow: hidden;
}

#card_set > .card
{
    flex-basis: calc((100% - (var(--card_set_gap) * (var(--cards_per_row) - 1))) / var(--cards_per_row));
    height: 100%;
}

.card img
{
    width: 90%;
    height: 65%;
    object-fit: cover;
    object-position: center;
}

.card .info
{
    width: 95%;
    height: 33%;
    display: flex;
    flex-direction: column;
    padding: 0.7rem 0.5rem;
    gap: 0.5rem;
}